* {
    margin: 0%;
    padding: 0%;
}


/*comienzo main, banner con imagenes*/

.banner {
    display: flex;
    width: 90%;
    height: 15rem;
   margin: 0 auto;
}

.banner img {
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.8;
    transition: 0.5s;
}

.banner img:hover {
    opacity: 1;
    width: 30%;
    cursor: crosshair;
    filter: contrast(120%)
}

/* cards de productos*/

/*que las cards sean en formato grid*/

.cards {
    width: 90%;
    display: grid;
    grid-template-rows: 20rem;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    margin: 60px auto;

}

.card-article {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-top: #afafaf solid 1px;
    align-items: center;
    justify-content: center;

}

.card-article a {
    width: 100%;
    
    text-align: center;
    text-decoration: none;
    color: #424242;
    font-size: 16px;
    padding: 0%;
    margin: 0%;
}


.card-article img {
    width: 90%;
    height: 14rem;
    object-fit: cover;
    padding: 5px 0;
}
.card-article a h5{
    font-size: 15px;
}

.card-article img:hover {
    opacity: 0.8;
}

.card-article p {
    font-size: 14px;
    padding: 0%;
    margin-bottom: 10px;
    text-align: center;
}

.card-article button {
    width: 60%;
    font-weight: 300;
    border: none;
   font-size: 16px;
   height: 25px;
    padding: 0%;
    background-color: #bba56ecc
}
