* {
    padding: 0%;
    margin: 0%;
}

.fondo{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.fondo::before{
    content: "";
    background-image: url(/images/imagenes_carrousel/imagen_7.webp);
    background-size:cover;
    position: absolute;
    top:0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index:-1;
    opacity: 0.4;
    filter: blur(10px);
   
}


.contenedor-form{
    width: 90%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:  auto;
    justify-content: center;
}

.p1{
    padding: 30px;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60%;
    width: 30%;
    padding: 30px 30px 50px 30px;
    background-color: rgba(192, 192, 104, 0.692);
    justify-content:center;
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    opacity: 1;
    filter: alpha(opacity=1);
    
  
}

.form label {

    color: #3c4245;
    font-size: 20px;
}

.form input {

    font-size: 110%;
    color: #39464d;

    display: block;
    width: 100%;
    height: 40px;

    margin-bottom: 10px;
    padding: 5px 5px 5px 10px;

    box-sizing: border-box;

    border: none;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
}

.form button {

    font-size: 20px;
    color: #1b262c;
    width: 60%;
    border: none;
    border-radius: 3px 3px 3px 3px;
    background-color: rgb(228, 222, 222);
    margin-top: 10px;
    
}

.form input::placeholder {

    color: #aca7a7;
}
.form input:hover {
    background-color: #cec7c7;
    
}

.form button:hover {
    background-color: #82bd8a;
    color: #dfcdc3;
}

.form .texto-error {
    color: red;
    display: none;
    padding-bottom: 15px;
}

.form .texto-inicio-exitoso {
    color: green;
    display: none;
    padding: 15px 0;
}