* {
    margin: 0%;
    padding: 0%;
}

/* contenedor principal de la pagina */
.main-container-product{
    display: grid;
    grid-template-columns: 5fr 4fr;
    grid-template-areas:
    "img form"
    "description form";
    column-gap: 4rem;
    width: 80%;
    margin: 30px auto;
}

/* imagen del producto */
.image-product {
    text-align: center;
    grid-area: img;
}

.container-image{
    display: inline-block;
    width: 80%;
}

.main-image-product{
    width: 100%;
}

/* etiqueta de nuevo producto */
.new-product-indv{
    position: relative;
}

.new-product-indv div{
    position: absolute;
    top: 1rem;
    right: 0;
    padding: 0.1rem 0.3rem;
    background-color: #eee;
    color: #000;
    z-index: 2;
    font-size: 1rem;
}

/* descripcion del producto */
.description-product{
    text-align: start;
    margin-top: 3rem;
    grid-area: description;
}

.description-product p{
    margin-bottom: 2rem;
}

.description-product p:first-child{
    font-weight: bold;
}

.description-product p:nth-child(3){
    font-family: CentraNube;
    font-size: 15px;
    font-weight: bold;
}

.description-product p span{
    padding-bottom: 1rem;
    display: inline-block;
}

/* contenedor de precio y medios de pago */
.product-form-container{
    display: flex;
    flex-direction: column;
    grid-area: form;
}

.product-name-price-container>h2{
    margin-bottom: 1rem;
}

.product-price{
    font-size: 3rem;
    margin: 1.25rem 0 2.5rem 0;
    position: relative;
    font-weight: bold;
    line-height: 30px;
}

.quotas-discounts{
    padding-bottom: 1rem;
    margin-bottom: 1.25rem;
    border-bottom: 1px solid rgba(44, 62, 80, .3);
}

/* descripcion de las cuotas */
.product-quotas {
    border: 1px solid rgba(241, 196, 15, .3);
    color: #f1c40f;
    width: 25rem;
    margin-top: 1.6rem;
    margin-bottom: .625rem;
}

.container-payment{
    margin-bottom: .4rem;
}

.discounts span{
    font-weight: 300;
}

.product-quotas>div{
    padding: 5px 10px;
}

.product-quotas div div:last-child{
    padding: 5px 10px;
    border: 1px solid rgba(241, 196, 15, .3);
}

.product-quotas span{
    font-weight: bold;
}

.title-scent{
    padding-bottom: .7rem;
    margin: 0;
}

.kinds-scents{
    padding: .2rem;
    box-sizing: content-box;
}

.container-product-count {
    margin-top: 1rem;
}

.count-product {
    margin: 0 0 .5rem 0;
}

.input-count-product {
    width: 15%;
    padding-left: .3rem;
    border: 1px solid #ababab;
}

.btn-buy {
    margin-top: 1.5rem;
    padding: .6rem 0;
    background-color: #bba56ecc;
    border: none;
    font-size: 20px;
    font-weight: 500;
}

/* 992px a 1249px */
@media (min-width: 992px) and (max-width: 1249px){
    .main-container-product{
        width: 992px;
    }
}

/* 768px a 991px */
@media only screen and (min-width: 768px) and (max-width:991px){
    .main-container-product{
        width: 768px;
    }

    .container-image{
        width: 100%;
    }
}
/* hasta 767px */
@media only screen and (max-width:767px){
    .main-container-product{
        display: flex;
        flex-direction: column;
        width: 95%;
        margin: 0 auto;
    }

    .image-product{
        border: 1px solid rgba(44, 62, 80, .3);
        box-shadow: 0px 0px 4px rgba(44, 62, 80, .3);
    }

    .container-image{
        width: 300px;
    }

    .product-name-price-container{
        margin-top: 1.25rem;
        padding-bottom: 1.25rem;
        border-bottom: 1px solid rgba(44, 62, 80, .3);;
        margin-bottom: 1.25rem;
    }

    .product-name-price-container>h2{
        font-weight: 400;
    }

    .product-price{
        font-size: 2.9rem;
    }

    .product-quotas{
        width: 29rem;
        margin-top: 0;
    }
}

/* hasta 550 */
@media only screen and (max-width:500px){
    .product-quotas{
        width: 95%;
    }
}
