.main-container-product{
    display: grid;
    grid-template-columns: 4fr 3fr;
    width: 80%;
    margin: 30px auto;
}

.product-form-container{
    display: flex;
    flex-direction: column;
}

/* descripcion de las cuotas */
.label-line {
    border: 1px solid rgba(241, 196, 15, .3);
    color: #f1c40f;
}

.label-line>div{
    padding: 5px 10px;
}