* {
    margin: 0%;
    padding: 0%;
}

HEAD body {
    background-color: transparent !important;
}

body {
    background-color: transparent !important;
}

/* Boton + disabled */
.bg-btn {
    color: white;
    background-color: #ffc93c;
}

.bg-btn:disabled {
    background-color: #ccc;
    color: #666;
}

/* Fin Boton + Disabled */

.banner-sup{
    background-color: navajowhite;
    text-align: center;
    display: none;
}

/* Header */
.merriweather-light {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}

header {
    width: 100%;
    position: sticky;
    top: 0;
    background-color: rgb(255, 255, 255);
    z-index: 50;
}

ol,
ul {
    list-style: none;
}
.cabecera{
    display: none;
}

.info-central {
    display: flex;
    align-items: baseline;
    gap: 30px;
    width: 80%;
    height: 12rem;
    margin: auto;
    animation: reduce-header linear both;
    animation-timeline: scroll(root);
    animation-range: 0 200px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0%;
    padding: 0%;
    width: 60%;
    height: 86%;
    object-fit: cover;

}

.logo a {
    width: 90%;
    height: 100%;
    animation: shrink-logo linear both;
    animation-timeline: scroll(root);
    animation-range: 0 200px;
}

.logo a img {
    margin: auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes shrink-logo {
    to {
        width: 60%;
    }
}

@keyframes reduce-header {
    to {
        height: 8rem;
    }
}

.search {
    width: 20%;
    height: 60%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.search input {
    width: 80%;
    border-radius: 5px 0 0 5px;
    height: 30px;
    border: 1px solid rgb(165, 163, 163);
    border-right: none;
    margin: 0%;
    padding: 0%;
}

.search button {
    width: 20%;
    border: none;
    border-radius: 0 5px 5px 0;
    height: 30px;
    margin: 0%;
    padding: 0%;
    border: 1px solid rgb(165, 163, 163);
    border-left: none;
    background-color: white;

}

.search button img {
    opacity: 0.8;
    width: 60%;
    cursor: pointer;
    height: 25px;
    object-fit: cover;

}

.carrito {
    width: 20%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.carrito button {
    width: 100%;
    font-size: 18px;
    background-color: rgb(228, 222, 222);
    font-weight: 300;
    border: none;

    height: 30px;
    margin: 0%;
    font-weight: 500;
    padding: .2rem 0 .35rem 0;
    background-color: #bba56ecc;
}

.carrito-img {
    object-fit: cover;
    width: 20px;
    height: 16px;
    padding-top: 2px;
    padding-right: 2px;

}

.carrito ul {
    margin-top: 10px;
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    text-align: center;
    gap: 10px;
    padding: 0%;
}

/* styles offcanvas */
/* Carrito de Compras */
.container-carrito {
    color: black;
    display: flex;
    border: 1px solid #ccc;
    margin: 10px;
}

.columna-carrito {
    flex: 1;
    padding: 10px;
}

.imagen-producto {
    width: 185px;
    height: 160px;
    object-fit: cover;
}

.fila-carrito {
    font-family: 'Bebas Neue', sans-serif;
    margin: 16px 0;
}
.fila-carrito:nth-child(3) {
    font-family: initial; 
}

.altura-container {
    height: 97%;
}

.titulo-producto {
    font-size: 19px;
    margin: 0;
}

.precio-producto {
    margin: 0;
    font-size: 20px;
}

.imagen-eliminar {              
    width: 23px;
}

.imagen-eliminar:hover {
    width: 23px;
    content: url(https://cdn-icons-png.flaticon.com/512/3221/3221845.png);
}

.offcanvas {
    /* Controlar el ancho del OffCanvas Activado */
    --bs-offcanvas-width: 500px !important;
}

body::-webkit-scrollbar {
    width: 12px;
}

.offcanvas-body {
    margin-bottom: 120px;
}

.offcanvas-body::-webkit-scrollbar {
    width: 10px;
}

.offcanvas-body::-webkit-scrollbar-thumb {
    background: linear-gradient(black,grey);
    border-radius: 6px;
}

.btn-carrito {
    background-color: lightgrey !important;
}

.carrito-vacio.fixed {
    position: absolute;
    bottom: 7px;
    left: auto;
    width: 92% !important;
    text-align: center;
    background-color: #bba56ecc;
    padding: 10px 0;
    border-top: 1px solid #ccc;
}

.container-precio-total {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 55px;
    left: auto;
    width: 92% !important;
    font-family: "Anton", sans-serif;
    font-size: 20px;
    text-align: center;
    background-color: #fff;
    padding: 10px 0;
    border-top: 1px solid #ccc;
}
.texto-precio-total {
    margin-left: 3px;
}
.precio-total {
    margin-right: 5px;
}

/* Fin styles offcanvas */


.sesion li a {
    text-decoration: none;
    font-size: 14px;
    color: #424242;
}

#nuevaCuenta:hover {
    color: #8b8888;
}

#iniciarSesion:hover {
    color: #8b8888;
}

hr {
    width: 80%;
    margin: 10px auto !important;

}

.menu-nav {
    width: 80%;
    height: 40px;
    margin: 0 auto;
    padding: 0%;

}

.menu-ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.menu-nav li a {
    color: #424242;
    text-decoration: none;
    font-size: 18px;
    width: 100%;
}

.li-productos {
    position: relative;
    width: 100px;
}

.menu-nav li a:hover {
    color: #8b8888;
}


.menu-productos {
    position: absolute;
    padding: 0px 0 10px 5px;
    left: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
    display: none;
    border: #b8b7b7 1px solid;
}

.menu-productos li a {
    font-size: 12px;
    text-decoration: none;
    color: #424242;
}

.menu-productos li a:hover {
    color: #afafaf;
    font-size: 13px;
    transition: 0.5s;
}

.li-productos:hover .menu-productos {
    display: block;
    background-color: white;
    z-index: 99;
}

/*navar 320px a 576px*/
@media (min-width:320px) and (max-width:576px) {
.banner-sup{
    display: block;
}

    .merriweather-light {
        font-family: "Merriweather", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 12px;

        padding: 0%;
    }

    .info-central {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        gap: 30px;
        margin: 0 auto;
        width: 80%;
        height: 7rem;

    }

    .logo {
        display: none;
        align-items: center;
        justify-content: center;
        margin: 0%;
        padding: 0%;
        width: 60%;
        height: 60%;
        object-fit: cover;

    }

    .logo a {
        display: none;
        width: 90%;
        height: 100%;
    }

    .logo a img {
        display: none;
        margin: auto;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .search {
        width: 50%;
        height: 60%;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .carrito {
        width: 50%;
        height: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .carrito button{
        font-size: 14px;
    }
    .sesion li a {
        font-size: 12px;}


    /*opciones de navegacion*/

    .menu-nav li a {
        color: #424242;
        text-decoration: none;
        font-size: 12px;
        width: 100%;
    }

    #menu-desplegable {
        text-align: center;
    }

    .menu-productos {
        text-align: left;
    }

}
@media (min-width:577px) and (max-width:768px) {
   
    
    .merriweather-light {
        font-family: "Merriweather", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 14px;

        padding: 0%;
    }

    .info-central {
        align-items: center;
        gap: 25px;
        width: 90%;
        height: 8rem;

    }

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0%;
        padding: 0%;
        width: 50%;
        height: 60%;
        object-fit: cover;
    }

    .logo a {
        display: flex;
        width: 90%;
        height: 100%;
    }

    .logo a img {
        display: flex;
        margin: auto;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .search {
        width: 25%;
        margin-top: -18px;
    }

    .carrito {
        width: 25%;
        margin-top: 46px;
    }

    .carrito button{
        font-size: 15px;
    }

    /*opciones de navegacion*/

    .menu-nav li a {
        color: #424242;
        text-decoration: none;
        font-size: 14px;
        width: 100%;
    }

    .menu-productos {
        text-align: left;
    }

}

@media (min-width:769px) and (max-width:1024px) {
    .merriweather-light {
        font-family: "Merriweather", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
        padding: 0%;
    }

    .info-central {
        gap: 25px;
        width: 90%;
        align-items: center; 
        height: 9rem; 
    }

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0%;
        padding: 0%;
        width: 50%;
        height: 60%;
        object-fit: cover;
    }

    .logo a {
        display: flex;
        width: 90%;
        height: 100%;
    }

    .logo a img {
        display: flex;
        margin: auto;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .search {
        width: 25%;
        height: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .carrito {
        width: 25%;
        height: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
    }

    .carrito button{
        font-size: 16px;
    }

    /*opciones de navegacion*/

    .menu-nav li a {
        color: #424242;
        text-decoration: none;
        font-size: 16px;
        width: 100%;
    }

    #menu-desplegable {
        text-align: center;
    }

    .menu-productos {
        text-align: left;
    }

}

/*fin navbar*/


/* Footer */
#footer {
    background-color: navajowhite;
    width: 90%;
    margin: auto;
   
}

.col-12{
    
    text-align: center;
    
}
.payment-methods {
    width: 35px;
    height: 25px;
}

.d-flex{
    justify-content: center;
}

@media (min-width:320px) and (max-width:576px) {

    .merriweather-light {
        font-family: "Merriweather", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 12px;
        padding: 0%;
    }
}

@media (min-width:577px) and (max-width:768px) {
    .merriweather-light {
        font-family: "Merriweather", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 14px;
        padding: 0%;
    }}

    @media (min-width:769px) and (max-width:1024px) {
        .merriweather-light {
            font-family: "Merriweather", serif;
            font-weight: 400;
            font-style: normal;
            font-size: 16px;
            padding: 0%;
        }}